@font-face {
    font-family: "Gilroy-Bold";
    src: url(".resources/fonts/Gilroy-Bold.woff") format("woff"),
         url(".resources/fonts/Gilroy-Medium.woff") format("woff"),
         url(".resources/fonts/Gilroy-Regular.woff") format("woff"),
         url(".resources/fonts/Gilroy-Thin.woff") format("woff"),
}

body{
    padding: 2rem;
}

/* 第一部分 - 输入框 */
.input-area{
    display: flex;
    align-items: center;
    gap: 1rem;
}

input{
    font-family: "Gilroy-Medium";
    background-color: #e6e6ed;
    border:none;
    border-radius: 2rem;
    width:15rem;
    /* 用 padding 来做基础高度 */
    padding:1.25rem;
    /* 让外边框消失 */
    outline:0;
    transition:all 0.3s ease-in-out;
    cursor: pointer;
}

/* 伪元素类,两层是选子集 */
input::placeholder{
    color: rgb(255, 255, 255);
    text-align: center;
}

input:hover{
    box-shadow: 0.75rem 0.75rem #2628cf;
}
input:focus{
    box-shadow: none;
}

/* 也可以用伪元素类实现元素聚【焦态】的写法
input:focus{
    width: 25rem;
    background-color: white;
    border:none;
    border:2px solid lightgray;
} */

/* 然后也可以通过 💥 js 动态添加这个 css 类 */
.input-focus{
    font-family: "Gilroy-Thin";
    width: 25rem;
    padding:1.16rem;
    background-color:white;
    border: 2px solid lightgray;
    box-sizing: border-box;
    cursor:text;
}


/* 第一部分 顶部按钮组 */
.input-buttons{
    font-family: "Gilroy-Medium";
    display: flex;
    gap: 0.8rem;
    /* 👇一开始不出现,后续变化后只改变透明度 */
    opacity: 0;
    /* 👇聚焦输入框后，右侧两个按钮是过渡显示出来的，🌟记得写单位 0.35s ！ */
    transition: opacity 0.35s ease-in-out;
}

.btn{
    font-size: 0.8rem;
    color:white;
    padding: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

.confirm-btn{
    background-color:#2628cf;
}

.cancel-btn{
    background-color:black;
}