
@font-face {
    font-family: "Gilroy-Bold";
    src: url(".resources/fonts/Gilroy-Bold.woff") format("woff"),
}

body{
  background-color:#FFF8F2;
  padding:0;
  margin:0;
  overflow-x:hidden;
}


/* 通用 */
.container{
    /* 🌟 */
    width: 100vw;
}


.icon-box{
    position:relative;
    overflow:hidden;
    border-radius:50px;
    cursor:pointer;
}

.icon{
    position: absolute;
}






/* part 1 ———————————————————————————————— */
.part1{
    position: relative;
    height:60rem;
}

.title-box{
    font-family: "Gilroy-Bold";
    color:#2F2B26;
    font-size: 2.8rem;
    position: absolute;
    top: 15rem;
    left:50rem;
    z-index: 4;
}

.title-color{
    color:#FF812A;
}

.sun{
    position: absolute;
    top: -35rem;
    left:-30rem;
    z-index:1;
}

.big-cloud{
    position: absolute;
    top: 2rem;
    left:-22rem;
    /* 🌟循环的动画效果: alternate 为交替， infinite 为无限*/
    animation: big-cloud-move 10s ease-in-out alternate infinite;
    z-index: 2;
}

@keyframes big-cloud-move {
    from {
        transform: translateX(0px)
    }
    to {
        transform: translateX(-70px)
    }
}

.small-cloud{
    position: absolute;
    top: 7rem;
    left:15rem;
    /* 🌟循环的动画效果: alternate 为交替， infinite 为无限*/
    animation: big-cloud-move 4s ease-in-out alternate infinite;
    z-index:3;
    /* 🌟给云朵加投影 filter: drop-shadow(x偏移, y偏移, 模糊大小, 色值); */
    filter:drop-shadow(-25px 25px 32px rgba(203, 191, 179, 0.3)); 
}

@keyframes small-cloud-move {
    from {
        transform: translateX(0px)
    }
    to {
        transform: translateX(-50px) 
    }
}







/* part 2 ——————————————————————————————————— */






.part2{
    position: relative;
    height:20rem;
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.icon-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    transition: all .75s ease-in-out;
}

.icon-container > span{
    font-family: "Gilroy-Bold";
    font-size:2.5rem;
    opacity: 0.3;
}


/* 🌟🌟🌟 第一个 icon */


.icon-cloudy-sun{
    left: 1.6rem;
    /* 👇👇👇 旋转半径为 左右居中，往下偏移 20rem  */
    transform-origin: 50% 20rem;
    transition: transform 1.65s ease-in-out;
}


/* 🔥 js 动态添加太阳旋转动画 */
.sun-rotate{
    /* 👇👇👇 旋转 360 度 */
    transform: rotate(360deg);
}


.icon-cloudy-big-cloud{
    z-index:2;
    bottom:2rem;
    left:1rem;
}

.icon-cloudy-small-cloud{
    z-index: 6;
    bottom:3rem;
    left:6.5rem;
}


/* 🔥 js 动态添加云朵动画 */ 

.icon-cloudy-big-cloud-ani{
    /* 10s 为延迟 */
    animation: icon-cloudy-big-cloud-move 10s ease-in-out infinite;
}

@keyframes icon-cloudy-big-cloud-move{
    0% {
        transform: translateX(0px)
    }
    30% {
        transform: translateX(20px)
    }
    70% {
        transform: translateX(-20px)
    }
    100% {
        transform: translateX(0px)
    }
}



/*🔥 js 动态添加小云朵动画 */ 
.icon-cloudy-small-cloud-ani{
    /* 3s 为延迟 */
    animation: icon-cloudy-small-cloud-move 5s ease-in-out infinite;
}

@keyframes icon-cloudy-small-cloud-move {
    0% {
        transform: translateX(0px)
    }
    30% {
        transform: translateX(20px)
    }
    80% {
        transform: translateX(-10px)
    }
    100% {
        transform: translateX(0px)
    }
}



/* 🌟🌟🌟 第二个 icon */

.icon-sunny-sun{
    z-index: 1;
    left: 1.8rem;
    top:0.4rem;
    transition: transform 1.5s ease-in-out;
}

/* 大太阳 */
.bigger{
    transform: scale(2.5) translateY(8rem);
}

/*🔥 js 动态改变太阳位置 */
.fly-out{
    transform:scale(2) translateY(-20rem);
}

.fly-in{
    transform:scale(1) translateY(0rem);
}



/* 🌟🌟🌟 第三个 icon */

.icon-box-rainy{
    display:flex;
    justify-content: center;
    align-items: center;
}

.icon-rainy-cloud{
    left: 1rem;
    top: 2rem;
    transition: transform 1.5s ease-in-out;
    z-index: 3;
}

.rain-box{
    position: absolute;
    height: 60px;
    width: 60px;
    transform:translateY(2.5rem)
}

.rain{
    position: absolute;
    transition: transform 0.6s ease-in-out;
}
.rain-dot1{
    left:0rem;
}
.rain-dot2{
    left:-0.6rem;
    top:1.2rem;
}
.rain-dot3{
    left:1.4rem;
    top:-0.5rem;
}
.rain-dot4{
    left:0.6rem;
    top:1.3rem;
}
.rain-dot5{
    left:2.2rem;
    top:1rem;
}

/*🔥 js 动态添加雨滴动画 */ 

.raining{
    /* 向左下角 + 下方去移动，因为起始位置不同，所以看起来下落就有时差  */
    transform: translateY(-2.4rem, 8rem);
}

/*🔥 js 动态添加云朵移入 */ 

.away-cloud{
    transform: translateX(-20rem)
}

.fake-rainy-cloud{
    transform: translateX(20rem);
    transition: transform 1s 1.2s ease-in-out;
}

.fake-rainy-rain{
    transform: translate(20rem 2.5rem);
    transition: transform 1s 1.2s ease-in-out;
}

.fake-rainy-cloud{
    transform: translate(0rem);
}




/* part 3 ——————————————————————————————————— */




.part3{
    position: relative;
    display:flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

/* 显示全部图标 */

.icons-title{
    font-family: "Gilroy-Bold";
    font-size:2.5rem;
    opacity: 0.3;
}

.part3 > span{
    transition: all 0.5s ease-in-out;
}

.icons-group{
    display: flex;
    flex-direction:column;
    justify-content: center;
    gap: 4rem;
    margin-top: 4rem;
}

.icons-line{
    display: flex;
    gap: 4rem;
}

/* 🌟🌟 对于背景图的设置很重要，background-image 不能直接在后边写 contain */
.pic-icon{
    height: 6rem;
    width: 6rem;
    background-size: contain;
    transition: all 0.5 ease-in-out;
}

/* 先做出全部显示的样式，然后隐藏掉 */
.icon1{
    background-image:url('./src/Icon1.png');
}

.icon2{
    background-image:url('./src/Icon2.png');
}

.icon3{
    background-image:url('./src/Icon3.png');
}

.icon4{
    background-image:url('./src/Icon4.png');
}

.icon5{
    background-image:url('./src/Icon5.png');
}

/* 🌟默认状态为隐藏并且向下移动 5rem！ */
.static-icon-init{
    opacity:0 !important;
    transform: translateY(5rem);
}




/* part 4 ——————————————————————————————————— */

.part4{
    display: flex;
    position: relative;
    transform: scale(0.8);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 10rem;
}

/* 初始状态变为 0 */
.part4-init{
    transform: translateY(5rem) scale(0.8);
}

/* 用来统一加绝对定位,各自写也行 */
.title-part{
    position: relative;
}

.helloTitle{
    position: relative;
}

.brand-title{
    margin-top:2rem;
}

.title-sun{
    position: absolute;
    transform:translate(5rem,-2rem);
    z-index: -1;
}

.rain-title{
    position: absolute;
    transform:translate(-16rem,6rem)
}
