:root {
	--main-bg-color: #ebeaf3;
	--main-header-color: #383846;
	--main-body-color: #545465;
	--main-border-color: #6f7274;
	--main-text-color: #f5f4ff;
	--main-subTitle-color: #6b6a7b;
	--main-btn-color: #4a40b0;
}


/* 表单本身 */
table {
	border:2px solid;
	/* 合并表格边框 */
	border-collapse: collapse;
	border-spacing: 0;
	border-color: var(--main-border-color); 
	
}


.tb-header {
	background-color: var(--main-header-color);
	color: var(--main-text-color);
	border-radius: 16px;
}


.tb-body {
	color: var(--main-text-color);
	background-color: var(--main-body-color);
}


th {
	width: 122px;
	font-size: 16px;
	padding: 12px;
}


td {
	text-align: center;
	font-size: 14px;
	padding: 12px;
	
}


.card-header {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 12px;
}



/* 提交表单的容器 */
.submit-Container {
	background-color: var(--main-bg-color);
	width: 280px;
	padding: 32px;
	border-radius: 16px;
}



.input-title {
	margin-top: 12px;
	color: var(--main-subTitle-color);
}


.input-group {
	/* 父元素开启 flex，子元素就能够占满父元素的空间 */
	display: flex; 
	flex-direction: column;
	justify-content: center;
}


.form-control {
	border: none;
	border-radius: 10px;
	padding: 12px 16px;
}


.btn {
	margin-top: 24px;
	border:none;
	background-color: var(--main-btn-color);
	color: var(--main-text-color);
	padding: 12px 24px;
	border-radius: 10px;
}