@font-face {
    font-family: "Gilroy-Medium";
    src: url("./resources/fonts/Gilroy-Medium.woff2") format("woff2"),
         url("./resources/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
   font-family: "OpenSans";
     src: url("./resources/fonts/OpenSans-Bold.woff2") format("woff2"),
          url("./resources/fonts/OpenSans-Bold.woff") format("woff");
}
  
body{
    /* width:100vh; */
    height: 100vh;   
    display: flex;
    justify-content: center;
    user-select: none;
}

.container-header{
    display: flex;
    justify-content: space-between;
    margin-bottom:2.5rem;
}

.card-name{
    font-family: "Gilroy";
    font-size:1.8rem;
    font-weight: bold;
}

/* 三个点的 icon 样式 */
.moveBar{
    padding:1rem 0.4rem;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 7px 15px -8px rgba(0,0,0,0.20); 
    box-shadow: 0px 7px 15px -8px rgba(0,0,0,0.20);
    cursor:move;
}

.dot{
    height: 0.3rem;
    width: 0.3rem;
    margin: 0.1rem;
    border-radius: 100%;
    background-color: #5645d5;
    display: inline-block;
}

/* 卡片样式 */
.container-body{
    font-family: "Gilroy-Medium";
    display: flex;
    /* 🌟🌟很方便，直接写 gap */
    gap: 1rem;
}

.currency{
    letter-spacing:1px;
    font-size:0.8rem;
    transform:rotate(-90deg);
}

.one-unit{
    border: 1px solid rgb(160, 158, 168);
    border-radius: 100rem;
    height: 14rem;
    width: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding:2rem 0;
    background-color:white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.num{
    font-weight: 600;
    font-size: 1.8rem;
}

.symbol{
    font-size: 0.7rem;
}

.add-text{
    transform: translateY(1.5rem) rotate(-90deg);
    font-size: 0.9rem;
}

.add-hint{
    opacity:0.4;
}

/* 卡片选中态 */
.selected-unit{
    background-color: rgb(78, 39, 174);
    color:white;
    border: 1px solid rgb(78, 39, 174);
    box-shadow: 0px 50.7352px 78.5187px rgba(20, 34, 244, 0.14), 
                0px 32.8839px 45.9844px rgba(20, 34, 244, 0.106296), 
                0px 19.5424px 25.0097px rgba(20, 34, 244, 0.085037), 
                0px 10.147px 12.7593px rgba(20, 34, 244, 0.07), 
                0px 4.13398px 6.39782px rgba(20, 34, 244, 0.054963);
    z-index:0;
}
