@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@900&family=Readex+Pro:wght@500&display=swap');

body {
	font-family: 'Noto Sans', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}


h1 {
	font-size: 60px;
	width: 220px;
	line-height: 1em;
	letter-spacing: -0.03em;
	position: relative;
}


h1 svg {
	width: 220px;
	position: absolute;
	left: 0;
	bottom: -30px;
	z-index: -1;
}

/* svg 的 path 内添加了 id ！ */
#tick {
	stroke-dasharray: 210px; /*🔥变为虚线, 为了模拟路径生长动画*/	
	stroke-dashoffset: 10px; /*🔥虚线的偏移值, 为了做出画线的效果*/
	animation: lineMove 1s ease-in-out infinite;
}

@keyframes lineMove {
	0%, 32% { /*0 % ~ 50%*/
		stroke-dashoffset: 210px;
	}
	32%, 66% { /* 50% ~ 100% */
		stroke-dashoffset: 0px;
	}
	/* 往回画, 恢复 */
	66%, 100% {
		stroke-dashoffset: -210px;
	}
}